{% extends 'base.html' %}

{% block content %}
<div class="edit_user">
    <div>Email: {{ user.email }}</div>
    <form method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="nickname" class="form-control" value="{{ form.nickname.value | default_if_none:'' }}">
            {{ form.nickname.errors }}
        </div>
        <div class="form-group">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" height="150" width="150" />
            {% endif %}
            <input type="file" name="avatar">
            {{ form.avatar.errors }}
        </div>
        <input type="submit" value="Update user" class="btn btn-success"/>
    </form>
</div>
{% endblock %}
