{% extends "base.html" %}
{% block title %}User Settings{% endblock title %}
{% block content %}
    <h1 class="text-center">Settings</h1>
    <form class="form-base" method="post" action="{% url 'user:settings' %}" enctype="multipart/form-data">
        <p class="profile-login">Login - {{ user.username }}</p>
        {% if messages %}
            {% for message in messages %}
                <p class="text-success">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% include 'snippets/form.html' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}