{% extends 'base.html' %}

{% block content %}
<h3>SIGN IN FORM</h3>
{{ form.errors }}
{{ form.errors.user }}
<form method="post" action="{% url 'sign_in' %}" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="email"
               placeholder="Email"
               class="form-control"
               value="{{ form.email.value | default_if_none:'' }}">
        {{ form.email.errors }}
    </div>
    <div class="form-group">
        <input type="password"
               name="password"
               placeholder="Password"
               class="form-control"
               value="{{ form.password.value | default_if_none:'' }}">
        {{ form.password.errors }}
    </div>
    <input type="submit" value="Sign in!" class="btn btn-success">
</form>
{% endblock %}
