{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Stackoverflow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" action="/questions/search">
            {% csrf_token %}
            <select name="type" class="mr-sm-2">
                <option value="1">Tags</option>
                <option value="2">Questions</option>
            </select>
            <input class="form-control mr-sm-2" name="query" type="search" placeholder="Query" aria-label="Query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if user.is_authenticated%}
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/edit_profile" title="Edit profile">{{ user.nickname }}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'sign_out' %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Sign out</button>
            </form>
        {% else %}
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_in' %}">Sign in</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>