{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  {% if user.is_authenticated%}
    <div class="user-block">
      <span class="login">
        <a href="{% url 'edit_profile' %}">
        {{ user.nickname }}
        </a>
      </span>
    </div>
    <form method="post" action="/sign_out" >
      {% csrf_token %}
      <div class="form-group row">
        <input type="submit" class="form-control btn btn-danger" value="Sign out" />
      </div>
    </form>
  {% else %}
      <a href="{% url 'sign_up' %}">Sign up</a>
  {% endif %}
  <div class="search">
    <form method="post" class="form-inline" action="/questions/search">
      {% csrf_token %}
      <div class="form-group row">
        <select name="type" class="mr-sm-2">
          <option value="1">Tags</option>
          <option value="2">Questions</option>
        </select>
        <input type="text" name="query" class="form-control" placeholder="Query" />
        <input type="submit" class="btn btn-info" value="Search" />
      </div>
    </form>
  </div>
</nav>
<h1>test</h1>