#wrapper {
    font-size: 16px;
}

.navbar-simple-text {
    float: left;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
}

#wrapper h1 {
    font-size: 24px;
}

#wrapper h2 {
    font-size: 23px;
}

#wrapper .btn {
    font-size: 16px;
}

#wrapper input {
    font-size: 16px;
}

#wrapper header .navbar-brand {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 24px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    overflow: hidden;
}

.user-avatar img {
    max-width: 34px;
}

.auth-user-block {
    padding: 8px;
}

.auth-user-block .user-avatar {
    float: left;
}

.auth-user-control {
    float: right;
    margin-top: 5px;
}

.auth-user-control a {
    margin-left: 15px;
    font-size: 17px;
}

.auth-user-control form.logout {
    float: right;
    margin-left: 15px;
    margin-top: 1px;
}

.auth-user-control form.logout button {
    background: none;
    border: none;
    padding: 0;
}

.auth-user-control form.logout span {
    color: #5a5a5a;
    display: block;
    font-size: 19px;
    cursor: pointer;
}

.auth-user-control form.logout span:hover {
    text-decoration: underline;
}

#wrapper .navbar-form input.form-control {
    border-right: none;
    box-shadow: none;
}

#wrapper .navbar-form input.form-control:focus {
    border-color: #ccc;
}

#wrapper .navbar-form .input-group-addon {
    background: #FFF;
}

.question-content-block {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.question-content-block .question-title {
    text-align: left;
    margin-bottom: 5px;
}

.question-content-block .question-title a {
    color: #000;
    font-weight: 500;
}

.form-base {
    max-width: 400px;
    margin: 30px auto;
}

.form-base input:focus {
    text-align: left;
    box-shadow: none;
    border: 1px solid #ccc;
}

.form-base fieldset {
    margin-top: 10px;
}

.img-rounded.profile {
    max-width: 110px;
    max-height: 110px;
    overflow: hidden;
    margin-bottom: 15px;
}

.control-item > input[type=text],
.control-item > input[type=email],
.control-item > input[type=password],
.control-item > textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.control-item > input[type=text],
.control-item > input[type=email],
.control-item > input[type=password] {
    height: 34px;
}

.control-item > input[type=text]:focus,
.control-item > input[type=email]:focus,
.control-item > input[type=password]:focus,
.control-item > textarea:focus {
    outline: 0;
}

.has-error .control-item > input[type=text],
.has-error .control-item > input[type=email],
.has-error .control-item > input[type=password] {
    border: 1px solid #a94442;
}

.form-errors {
    color: #a94442;
}

.form-errors ul {
    margin-bottom: 0;
    padding-left: 20px;
}

p.profile-login {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 20px
}

.btn-ask {
    display: block;
    max-width: 195px;
    margin: 20px auto;
}

.trends {
    margin: auto;
}

.trend-item {
    margin: 15px 0;
}

#wrapper .label {
    display: inline-block;
    font-weight: normal;
    padding: 7px;
    margin-right: 5px;
    font-size: 16px;
}

.trend-item .trent-link {
    color: #000;
    cursor: pointer;
}

.trend-item .label {
    min-width: 45px;
    margin-bottom: 0;
}

.rating-control {
    text-align: center;
    font-size: 24px;
}

.rating-control a:hover,
.rating-control a:focus {
    text-decoration: none;
}

.rating-control .mark {
    background: none;
    margin-bottom: 20px;
}

.rating-control a.mark {
    color: #eee;
}

.rating-control span.mark {
    color: #f0ad4e;
}

.rating-control a.mark.active,
.rating-control a.mark:hover {
    color: #f0ad4e;
}

.content-block {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}

h1.question-header {
    margin-bottom: 20px;
}

h1.question-header a {
    color: #aaa;
}

h1.question-header a:hover {
    color: #888;
}

h1.odd-header {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid #aaa;
}

h2.missing {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.tag-list {
    float: left;
}

.tag-list .label {
    min-width: 65px;
    margin-bottom: 5px;
}

.user-info {
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.user-info p {
    margin: 0;
}

.user-info .user-avatar {
    width: 60px;
    height: 60px;
}

.user-info .user-avatar img {
    max-width: 60px;
}

.answer-form .form-base {
    margin: 30px 0;
    max-width: 100%;
}

.answer-form .form-base label {
    font-size: 18px;
}

/* Redefine jquery.tagsinput style */
#wrapper #id_tags_tagsinput {
    width: 100% !important;
}

#wrapper #id_tags_tag {
    width: 100% !important;
}

#wrapper #id_tags_tag:focus {
    border: none;
}

#wrapper .has-error #id_tags_tag {
    border: none;
}

@media (min-width: 768px) {
    #wrapper .navbar-form .input-group {
        width: 300px;
    }

    .trends {
        max-width: 300px;
        margin: auto;
    }

    .btn-ask {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .content {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .auth-user-block .user-avatar {
        margin-bottom: 10px;
    }

    .mobile-separator {
        margin: 0 -15px;
        border-bottom: 1px solid #ccc;
    }
}