{% if form.errors %}
    <div class="form-errors">
        {% for key, error in form.errors.items %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
<fieldset>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="control-item">
                {{ field }}
            </div>
        </div>
    {% endfor %}
</fieldset>