{% extends "base.html" %}
{% block title %}{% if request.GET.sort %}Hot questions{% else %}New questions{% endif %}{% endblock title %}
{% block content %}
    <h1 class="question-header odd-header pull-left">
        {% if not request.GET.sort %}
            New questions
        {% else %}
            <a href="{% url 'stackoverflow:index' %}">New questions</a>
        {% endif %}
    </h1>
    <h1 class="question-header even-header">
        {% if request.GET.sort %}
            Hot questions
        {% else %}
            <a href="{% url 'stackoverflow:index' %}?sort=popular">Hot questions</a>
        {% endif %}
    </h1>
    <div class="question-list">
        {% if questions %}
            {% for question in questions %}
                {% include 'snippets/question_list_item.html' %}
            {% endfor %}
        {% else %}
            <h2 class="missing">Looks like no questions were asked... You can be first!</h2>
        {% endif %}
    </div>
    {% include 'snippets/pagination.html' %}
{% endblock content %}